<div *ngIf="!isMyHouseKit || !isHomePage" class="header-bottom-bar-wrapper" (window:scroll)="onScroll($event)" [class.stick-header]="isScrolling">
    <div class="wrapper">
        <div class="inner-wrapper">
            <div class="header-bottom-bar">
                <div *ngIf="!isMyHouseKit" class="header-logo">
                    <a href="/"><img height="36px" src="/app/public/Joyful-Home_Logo_All-White-Outlined.svg" alt="Joyful Home | A Little Place to Call Home"/></a>
                </div>
                <div *ngIf="isMyHouseKit" class="header-logo six-col" style="font-size:20px;font-family:'Lato'; line-height:24px;">
                  <a href="{{partnerUrl}}" style="color:#000">Home</a>
                </div>
                <header-search-component [isHomePage]="isHomePage"></header-search-component>
            </div>
        </div>
    </div>
    <a>
      <div class="header-share st_sharethis_large">
        <i class="fa fa-share-alt"></i>
      </div>
    </a>
</div>
