<header>
    <div class="header-top-bar">
        <div class="tagline"><a href="#">Joyful Home | A Little Place to Call Home</a></div>
        <div class="directory-link"><a href="#">Directories</a></div>
    </div>
    <div class="header-bottom-bar">
        <img class="header-logo" src="./app/public/joyful_home_logo.png" alt="Joyful Home | A Little Place to Call Home"/>
        <div class="header-search"><input type="text" value="Where do you want to live? (City, ST)"></div>
    </div>
</header>