<!--Amenities info Component -->
<section class="ac">
    <!--Carousel Box-->
    <div class="ac-carousel">
        <!--Carousel Heading and Lising Name-->
        <div class="ac-carousel-heading">
            <div>{{list_data.header}}</div>
            <div><i class="fa fa-map-marker"></i><span> {{list_data.name}}</span></div>
        </div>
        <!--Image Placeholder and Carousel Buttons for Next and Previous-->
        <carousel-button (scrollLeft)="left()" (scrollRight)="right()"></carousel-button>

        <image-150 [hasSubImg]="main_hasSubImg"></image-150>
        <!--Establishment, Address, Location-->
        <div class="ac-carousel-est">
            <div>{{list_data.establishment}}</div>
            <div><span>{{list_data.address}}</span>. <span>{{list_data.location}}</span></div>
        </div>
        <!--Button to See The List-->
        <a href='' class='mod-page-btn'>
            <span></span>
            <span>See The List</span>
            <i class='fa fa-angle-right'></i>
        </a>
    </div>
    <!--<div class="ac-view"><i class="fa fa-caret-down"></i></div>-->
    <!--Amenities Lists-->
    <div class="ac-lists">
        <!--Single List Category for Amenities-->
        <div *ngFor="#list_data of listView" class="ac-lists-list">
            <div class="ac-lists-list-icon">
                <i class="fa fa-cutlery"></i>
            </div>
            <div class="ac-lists-list-cat">
                <div>{{list_data.category}}</div>
                <div>{{list_data.count}}</div>
            </div>

            <a href='{{list_data.viewUrl}}' class="ac-lists-list-view">
                <span>{{list_data.viewMore}}</span>
                <i class="fa fa-angle-right"></i>
            </a>
        </div>

    </div>
    <!--Footer Button to See All Amenities-->
    <div *ngIf="hasFooterButton" class="footer">
        <a href='{{list_data.ListUrl}}' class='footer-btn'>
            <span></span>
            <span>See All Amenities</span>
            <i class='fa fa-angle-right'></i>
        </a>
    </div>
</section>
