<div class="content-wrapper">
    <div class="container">
        <main class='row'>
            <section class='content-main eight columns'>
                <div class="au">
                    <backtab-component></backtab-component>
                    <span *ngFor="#titleComp of data">
                        <title-component [title]="titleComp"></title-component>
                    </span>
                    <div class="au-hding"><b>What is </b>{{whatis}}</div>
                    <div class="au-desc"><p>High Life street art selvage polaroid, mustache 90's Kickstarter brunch cold-pressed. Cliche swag freegan pour-over mixtape mustache. Art party twee asymmetrical, heirloom sustainable cray crucifix mlkshk Bushwick dreamcatcher master cleanse four dollar toast. Skateboard Pitchfork meditation Neutra wayfarers, cardigan put a bird on it blog American Apparel freegan post-ironic sartorial small batch tote bag. Pop-up art party brunch sustainable Blue Bottle, mustache salvia single-origin coffee cardigan Etsy Godard meggings lomo. Dreamcatcher 3 wolf moon High Life health goth gastropub, Echo Park raw denim try-hard. Freegan keytar fashion axe, crucifix migas tousled narwhal Brooklyn post-ironic Bushwick pug bicycle rights lo-fi cliche High Life.</p><br/>
                       <p> Art party you probably haven't heard of them Vice VHS jean shorts. Typewriter pug artisan, deep v lo-fi locavore shabby chic keytar gentrify asymmetrical PBR keffiyeh. Odd Future High Life XOXO chia, fixie paleo occupy cliche disrupt craft beer. Keytar photo booth chillwave scenester crucifix Schlitz. Paleo brunch mustache sustainable, flannel banh mi Odd Future. Seitan deep v heirloom craft beer Shoreditch lo-fi, pork belly taxidermy distillery yr letterpress ennui. Wayfarers narwhal taxidermy VHS.</p>
                    </div>
                    <div class="au-blocks">
                        <div class="au-blocks-block">
                            <span><img src="{{au_icon1}}" /></span>
                            <span>
                                <div>{{subtxt1}}</div>
                                <div>{{maintxt1}}</div>
                            </span>
                        </div>
                        <div class="au-blocks-block">
                            <span><img src="{{au_icon2}}" /></span>
                            <span>
                                <div>{{subtxt2}}</div>
                                <div>{{maintxt2}}</div>
                            </span>
                        </div>
                        <div class="au-blocks-block">
                            <span><img src="{{au_icon3}}" /></span>
                            <span>
                                <div>{{subtxt3}}</div>
                                <div>{{maintxt3}}</div>
                            </span>
                        </div>
                        <div class="au-blocks-block">
                            <span><img src="{{au_icon4}}" /></span>
                            <span>
                                <div>{{subtxt4}}</div>
                                <div>{{maintxt4}}</div>
                            </span>
                        </div>
                    </div>
                    <!--Blocks End-->
                    <div class="au-nat">
                        <div>{{subtxt_nat}}</div>
                        <div>{{maintxt_nat}}</div>
                        <img src="{{nat_map}}" alt="nationwide image" />
                    </div>
                </div>

            </section>
            <aside class="four columns">
                <div class="widget"></div>
            </aside>
        </main>
    </div>
</div>