<div class="explore row">
    <section class="explore-tiles">
        <a [routerLink]='["Location-page", {loc: tileUrls[0]}]'>
            <div class="explore-tile-1 eight columns">
                <p class="explore-tile-title">{{tileLocations[0]}}</p>
                <div class="view-box">
                    <p class="view-text">View This Area</p>
                </div>
            </div>
        </a>
        <a [routerLink]='["Location-page", {loc: tileUrls[1]}]'>
            <div class="explore-tile-2 two columns">
                <p class="explore-tile-title">{{tileLocations[1]}}</p>
                <div class="view-box">
                    <p class="view-text">View This Area</p>
                </div>
            </div>
        </a>
    </section>
    <section class="explore-tiles">
        <div class="explore-tile-3 eight columns">
            <p class="explore-tile-title-long">
                <span class="title-bold">Here are 5 of 18</span><br /> cities within 20<br /> miles of your<br />location
            </p>
        </div>
        <a [routerLink]='["Location-page", {loc: tileUrls[2]}]'>
            <div class="explore-tile-4 two columns">
                <p class="explore-tile-title">{{tileLocations[2]}}</p>
                <div class="view-box">
                    <p class="view-text">View This Area</p>
                </div>
            </div>
        </a>
    </section>
    <section class="explore-tiles">
        <a [routerLink]='["Location-page", {loc: tileUrls[3]}]'>
            <div class="explore-tile-5 eight columns">
                <p class="explore-tile-title">{{tileLocations[3]}}</p>
                <div class="view-box">
                    <p class="view-text">View This Area</p>
                </div>
            </div>
        </a>
        <a [routerLink]='["Location-page", {loc: tileUrls[4]}]'>
            <div class="explore-tile-6 two columns">
                <p class="explore-tile-title">{{tileLocations[4]}}</p>
                <div class="view-box">
                    <p class="view-text">View This Area</p>
                </div>
            </div>
        </a>
    </section>
</div>