<div class="explore row">
    <section class="explore-tiles">
        <div class="explore-tile-1 eight columns"><p class="explore-tile-title">Wichita, KS</p></div>
        <div class="explore-tile-2 two columns"><p class="explore-tile-title">Derby, KS</p></div>
    </section>
    <section class="explore-tiles">
        <div class="explore-tile-3 eight columns"><p class="explore-tile-title-long"><span class="title-bold">Here are 5 of 18</span><br /> cities within 20<br /> miles of your<br />location</p></div>
        <div class="explore-tile-4 two columns"><p class="explore-tile-title">Haysville, KS</p></div>
    </section>
    <section class="explore-tiles">
        <div class="explore-tile-5 eight columns"><p class="explore-tile-title">Valley Center, KS</p></div>
        <div class="explore-tile-6 two columns"><p class="explore-tile-title">Mulvane, KS</p></div>
    </section>
</div>