@import (reference) "./app/global/stylesheets/components.less";
@import (reference) "./app/global/stylesheets/base.less";

.explore-tiles {
  margin: 13px auto 0 auto !important;
  text-align: center;
  position: relative;
  .globalDefaultModFont(32, 300, @white);
}

  .explore-tile-title {
    margin-top: 110px;
  }

  .explore-tile-1 {
    width: 635px;
    height: 250px;
    background: url('./app/public/Home_Stock_Images/24_L.png');
  }

  .explore-tile-2 {
    width: 315px;
    height: 250px;
    background: url('./app/public/Home_Stock_Images/27_L.png');
    float: right;
  }

  .explore-tile-3 {
    width: 315px;
    height: 250px;
    background: #000;
  }

  .explore-tile-4 {
    width: 635px;
    height: 250px;
    background: url('./app/public/Home_Stock_Images/15_L.png');
    float: right;
  }

  .explore-tile-5 {
    width: 635px;
    height: 250px;
    background: url('./app/public/Home_Stock_Images/13_L.png');
  }

  .explore-tile-6 {
    width: 315px;
    height: 250px;
    background: url('./app/public/Home_Stock_Images/03_L.png');
    float: right;
  }