.explore-tiles {
  margin: 120 auto 0 auto !important;
  text-align: center;
  position: relative;
}

  .explore-tile-wide {
    width: 635px;
    height: 250px;
    background: url('./app/public/Home_Stock_Images/24_L.png');
  }

  .explore-tile-small {
    width: 315px;
    height: 250px;
    background: url('./app/public/Home_Stock_Images/27_L.png');
    float: right;
  }