@hoverColor: @masterBrandColor;
.circles{
  .globalDefaultModFont(28px, 400, @white);
  cursor: pointer;
  border: 2px solid @white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 7px;
  position: absolute;
  z-index: 1;
  margin: 113px 15px;
  &.fa-angle-right {
    right: 0;
  }

  &.fa-angle-left {
    left: 0;
  }
  &:hover{
    color: @hoverColor;
    border-color: @hoverColor;
  }
}
