<section class="fl">
    <div class="fl-header">
        <span><i class="fa fa-circle"></i> {{header}}</span>
    </div>
    <div class="fl-title"><div class="fl-title-txt">{{title}}</div></div>
    <div class="fl-desc">
        <div class="fl-desc-hding1">{{hding1}}</div>
        <div class="fl-desc-hding2">{{hding2}}</div>
        <image-180 [hasHover]="main_hasHover"></image-180>
        <carousel-button></carousel-button>
        <div class="fl-desc-detail1">{{detail1}}</div>
        <div class="fl-desc-detail2">{{detail2}}</div>

    </div>
    <div class="footer">
        <a href='{{ListUrl}}' class='footer-btn'>
            <span></span>
            <span>See The Full List</span>
            <i class='fa fa-angle-right'></i>
        </a>
    </div>
</section>
