<template name="header_nav">
  <header class='header'>
    {{{partner_header}}}
    <nav class='header_nav'>
      <ul id='navigation'>
        <div class='headertab'>
          <li><a href=''>JoyfulHome</a></li>
          <li id="search"><a href=''>Search</a></li>
        </div>
      </ul>
    </nav>
  </header>
</template>

<template name="content_nav">
  <nav class='content_nav'>
    <ul id='navigation'>
        <li><a href=''>Home</a></li>
        <li><a href=''>Build a Bracket</a></li>
        <li><a href=''>Live Bracket</a></li>
        <li><a href=''>Teams</a></li>
        <li><a href=''>News</a></li>
        <li><a href=''>Alerts</a></li>
    </ul>
  </nav>
</template>
