<template name="header_nav">
  <header class='header'>
    {{{partner_header}}}
    <nav class='header_nav'>
      <ul id='navigation'>
        <div class='headertab'>
          <li><a href=''>JoyfulHome</a></li>
        </div>
        <div class='headerlogin'>
          <li id="search"><a href=''>Search</a></li>
          <li><a href=''>Signup</a></li>
          <li><a href=''>Login</a></li>
          <li><a href=''>Share</a></li>
        </div>
      </ul>
    </nav>
  </header>
</template>

<template name="bracket_nav">
  <nav class='bracket_nav'>
    <ul id='navigation'>
        <li><a href=''>Home</a></li>
        <li><a href=''>Build a Bracket</a></li>
        <li><a href=''>Live Bracket</a></li>
        <li><a href=''>Teams</a></li>
        <li><a href=''>News</a></li>
        <li><a href=''>Alerts</a></li>
    </ul>
  </nav>
</template>
