@import (reference) "./app/global/stylesheets/components.less";
@import (reference) "./app/global/stylesheets/base.less";

footer {
  width: 100%;
}
  .footer-top-bar {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    background: @darkGrey;
    height: 60px;
  }

  .footer-bottom {
    background: @lightGrey;
    height: 390px;
  }

  .footer-logo {
    margin-top: 19px;
    height: 22px;
  }