.footer-top-bar-wrapper {
  width: 100%;
  margin-top: 20px;
  background: @darkGrey;
  height: 60px;
  .globalDefaultModFont(12px, 600, @black);
}
  .footer-top-bar {
    padding-top: 10px;
  }

.footer-logo {
  margin-top: 5px;
  background-size: contain;
  width: 230px;
  @media @mobile {
    display:none;
  }
}

  .footer-social {
    text-align: right;
    float:right;
    width: 320px;
  }

  .footer-social li {
    display: inline-block;
    color: @white;
    padding-top: 10px;
    text-align: center;
    width: 40px;
    height: 40px;
    border: 1px solid @white;
    border-radius: 50%;
    margin-left: 10px;
    &:hover {
      background: #282c2e;
      opacity: 0.5;
      cursor: pointer;
    }
    .fa {
      font-size: 19px;
    }
  }

.footer-bottom-wrapper {
  background: @lightGrey;
  min-height: 600px;
  padding-top: 30px;
  padding-bottom: 50px;
  .globalDefaultModFont(12px, 600, @black);
}

.footer-bottom {
      h1 {
        color: @white;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
      }
    }

      .footer-bottom hr {
        border-width: 1px;
        border-color: @white;
        border-style: dotted;
        margin: 30px auto 20px auto;
        height: 1px;
      }

  .footer-section-one {
    display: inline;
    color: @white;
    text-align: center;
    a {
      color: @white;
    }
  }

    .footer-section-one a:hover {
      color: @masterBrandColor;
    }

    h1 {
      margin-bottom: 20px;
    }

    .footer-section-one ul {
      margin: 0 auto;
    }

    .footer-section-one li {
      display: inline-block;
      .globalDefaultModFont(14px, 400, @white);
      color: @white;
      margin-right: 5px;
      padding-right: 5px;
      margin-top: 15px;
      border-right: 1px solid @white;
    }

      .footer-section-one li:first-child {
        border-right: none;
        font-weight: 600;
      }

      .footer-section-one li:last-child {
        border-right: none;
      }

  .footer-section-two {
    display: inline;
    color: @white;
    text-align: center;
    a {
      color: @masterBrandColor;
    }
  }

    .footer-section-two a:hover {
      color: @white;
    }

    .footer-section-two ul {
      margin: 0 auto;
    }

    .footer-section-two li {
      display: inline-block;
      .globalDefaultModFont(14px, 400, @white);
      color: @white;
      margin-right: 5px;
      padding-right: 5px;
      margin-top: 15px;
      .fa {
        margin-left: 3px;
      }
    }
      .footer-section-two li:first-child {
        font-weight: 600;
      }

.footer-section-three {
  display: inline;
  color: @white;
  text-align: center;
  a {
    color: @white;
  }
}

  .footer-section-three .joyful-link a {
    color: @masterBrandColor;
  }

    .footer-section-three .joyful-link a:hover {
      color: @white;
    }

  .footer-section-three a:hover {
    color: @masterBrandColor;
  }

  .footer-section-two ul {
    margin: 0 auto;
  }

  .footer-section-three li {
    display: inline-block;
    .globalDefaultModFont(14px, 400, @white);
    color: @white;
    margin-right: 5px;
    padding-right: 5px;
    margin-top: 15px;
    .fa {
      margin-left: 3px;
    }
  }
    .footer-section-three li:first-child {
      font-weight: 600;
    }
.footer-section-wrapper.twelve-col {
    width: 100%;
    background: @lightGrey;
}
