.hero {
  width: 100%;
  height: 495px;
  background-image: url('/app/public/HQ_TopPhoto.jpg');
  background-size: cover;
  background-position: center center;
}
  .discover-title {
    color: #fff;
    .globalDefaultModFont(60, 900, @white) !important;
    text-align: center;
    padding-top: 100px !important;
  }

  .discover-subtitle {
    color: #fff;
    .globalDefaultModFont(24, 400, @white) !important;
    text-align: center;
  }