<div class="mag_container_left">
    <span *ngFor="#magListings of magRecommendations?.similar; #i=index">
        <span *ngIf="i === 0">
            <div class="mag_n1_img">
                <img class="mag_n1_img" src="{{magListings.photos[0]}}" id="{{i}}"/>
                <div class="mag_n1_img_overlay">
                    <div class="mag_n1_img_text">{{magListings.address.fullStreetAddress}}</div>
                    <div class="mag_n1_img_bar"></div>
                    <span *ngIf="!isPartner">
                        <a [routerLink]="['../../Magazine', {addr: magListings.key.toLowerCase()}, 'PropertyOverview' ]"
                           class="mag_n1_img_view">View <i class="fa fa-eye"></i></a>
                    </span>
                </div>
            </div>
        </span>
        <span *ngIf="i === 1">
            <div class="mag_n1_img">
                <img class="mag_n1_img" src="{{magListings.photos[0]}}" id="{{i}}"/>
                <div class="mag_n1_img_overlay">
                    <div class="mag_n1_img_text">{{magListings.address.fullStreetAddress}}</div>
                    <div class="mag_n1_img_bar"></div>
                    <span *ngIf="!isPartner">
                        <a [routerLink]="['../../Magazine', {addr: magListings.key.toLowerCase()}, 'PropertyOverview' ]"
                           class="mag_n1_img_view">View <i class="fa fa-eye"></i></a>
                    </span>
                </div>
            </div>
        </span>
    </span>
</div>