<div class="mag_container mag_container_left">
    <span *ngFor="#magListings of listingData;">
    <span *ngIf="recommendations">
        <span *ngFor="#magImage1 of magListings.listing1;">
            <div class="mag_n1_img" style="background-image: url('{{magImage1.itemImg}}')" id="i">
                <div class="mag_n1_img_overlay">
                    <div class="mag_n1_img_text">{{magImage1.itemAddress}}</div>
                    <div class="mag_n1_img_bar"></div>
                    <a class="mag_n1_img_view" href="{{magImage1.itemKey}}">View <i class="fa fa-eye"></i></a>
                </div>
            </div>
        </span>
        <span *ngFor="#magImage2 of magListings.listing2;">
            <div class="mag_n1_img" style="background-image: url('{{magImage2.itemImg}}')" id="i">
                <div class="mag_n1_img_overlay">
                    <div class="mag_n1_img_text">{{magImage2.itemAddress}}</div>
                    <div class="mag_n1_img_bar"></div>
                    <a class="mag_n1_img_view" href="{{magImage2.itemKey}}">View <i class="fa fa-eye"></i></a>
                </div>
            </div>
        </span>
    </span>
    <span *ngIf="!recommendations">
        <span *ngFor="#magImage1 of magListings.contactListing;">
            <div class="mag_n1_img" style="background-image: url('{{magImage1.photo}}')" id="i">
                <div class="mag_n1_img_overlay">
                    <div class="mag_n1_img_text">{{magImage1.itemAddress}}</div>
                </div>
            </div>
        </span>
    </span>
    </span>
</div>