<div class="content-wrapper">
    <div class="wrapper">
        <div class="inner-wrapper">
            <main>
                <section class='content-main eight-col'>
                    <!-- Modules Go Here -->

                    <!-- About Section -->
                    <!--<map-module></map-module>-->
                    <headline-component [data]="headlineAbout"></headline-component>
                    <profile-header *ngIf="profileHeaderData" [profileHeaderData]="profileHeaderData"></profile-header>
                    <find-your-home-module [locDisplay]="locDisplay" [locState]="locState" [locCity]="locCity"></find-your-home-module>
                    <comment-module></comment-module>
                    <info-list-module *ngIf="recentListingsData" [recentListingsData]="recentListingsData" [locDisplay]="locDisplay"></info-list-module>
                    <!--Trending Section-->
                    <trending-homes *ngIf="trendingHomesData" [trendingHomesData]="trendingHomesData" [trending]="trendingFeature"></trending-homes>
                    <!-- Crime Section -->
                    <headline-component [data]="headlineCrime"></headline-component>
                    <crime-module *ngIf="crimeData" [crimeData]="crimeData" ></crime-module>

                    <!-- Amenities and School Section -->
                    <!--<headline-component [data]="headlineSchool"></headline-component>-->
                    <!--<school-module *ngIf="schoolData" [schoolData]="schoolData"></school-module>-->
                    <!--<amenities-module *ngIf="amenitiesData" [amenitiesData]="amenitiesData"></amenities-module>-->

                    <!-- Interact Section -->
                    <headline-component [data]="headlineInteract"></headline-component>
                    <featured-lists-module *ngIf="featuredListData" [featuredListData]="featuredListData"></featured-lists-module>

                    <!--Share Module-->
                    <share-module></share-module>
                    <!--Like Us On FB Module-->
                    <like-us-module></like-us-module>
                    <!--Learn More About Us-->
                    <about-us-module></about-us-module>

                </section>
                <div class="four-col">
                    <widget-module></widget-module>
                </div>
            </main>
        </div>
    </div>
</div>
