<div class="content-wrapper">
    <div class="container">
        <main class='row'>
            <section class='content-main eight columns'>
                <!-- Modules Go Here -->

                <!-- About Section -->
                <headline-component [data]="headlineAbout"></headline-component>
                <profile-header [profile_type]="profile_type"></profile-header>
                <info-list-module></info-list-module>

                <!-- Crime Section -->
                <headline-component [data]="headlineCrime"></headline-component>
                <crime-module></crime-module>

                <!-- Amenities Section -->
                <headline-component [data]="headlineAmenities"></headline-component>

                <!-- Interact Section -->
                <headline-component [data]="headlineInteract"></headline-component>
                <featured_lists-module></featured_lists-module>

            </section>
            <aside class="four columns">
                <div class="widget"></div>
            </aside>
        </main>
    </div>
</div>