<div class="content-wrapper">
    <div class="container">
        <main class='row'>
            <section class='content-main eight columns'>
                <div class="page-container au">
                    <backtab-component></backtab-component>
                    <title-component [data]="title_data"></title-component>

                    <div class="au-heading"><b>{{heading}}</b></div>
                    <div class="au-desc">
                        <p>{{disclaimer1}}</p><br/><p>{{disclaimer2}}</p><br/>
                        <p>{{disclaimer3}}</p><br/><p>{{disclaimer4}}</p><br/>
                        <div><b>Consent</b></div>
                        <p>{{disclaimer5}}</p><br/>
                        <div><b>Update</b></div>
                        <p>{{disclaimer6}}</p><br/>
                    </div>
                </div>
            </section>
            <aside class="four columns">
                <div class="widget"></div>
            </aside>
        </main>
    </div>
</div>