<div class="content-wrapper">
    <div class="wrapper">
        <div class="inner-wrapper">
            <main>
                <section class='content-main eight-col'>
                    <div class="page-container au">
                        <backtab-component></backtab-component>
                        <title-component [titleData]="title_data"></title-component>

                        <div class="au-heading">
                          <div><b>{{heading}}</b></div>
                          <div class = "au-heading-dropdown">
                            Now Reading:
                            <select (change) ='nav($event)' id="sortBy" style = "margin-top: 1px;">
                              <option value="Disclaimer">Disclaimer</option>
                              <option value="About">About Us</option>
                              <option value="Contact">Contact Us</option>
                            </select>
                          </div>
                        </div>

                        <div class="au-desc" *ngIf="disclaimer" [innerHTML]="disclaimer"></div>
                    </div>
                </section>
                <div class="four-col">
                    <widget-module></widget-module>
                </div>
            </main>
        </div>
    </div>
</div>
