<div class="overview-page" (click)="checkTabs()">
    <magazine-header-module></magazine-header-module>
    <div class="mag_container mag_container_left">
        <magazine-recommendations-text-module [listingData]="listingData" [recommendations]="recommendations"></magazine-recommendations-text-module>
        <mag-nav-left-component></mag-nav-left-component>
        <magazine-recommendations-img-module [listingData]="listingData" [recommendations]="recommendations"></magazine-recommendations-img-module>
    </div>
    <magazine-contact-module [listingData]="listingData"></magazine-contact-module>
    <mag-footer-component></mag-footer-component>
</div>