<div class="overview-page" (click)="checkTabs()">
    <magazine-header-module></magazine-header-module>
    <magazine-recommendations-text-module [listingData]="listingData" [recommendations]="recommendations"></magazine-recommendations-text-module>
    <magazine-contact-module></magazine-contact-module>
    <magazine-recommendations-img-module [listingData]="listingData" [recommendations]="recommendations"></magazine-recommendations-img-module>
    <mag-nav-right-component></mag-nav-right-component>
    <mag-footer-component></mag-footer-component>
</div>