<!--/**-->
<!--* Created by Christopher Lynch on 2/23/2016.-->
<!--*/-->

<span *ngFor="#magheader of tabs">
    <input type="radio" name="PageType2" id='{{magheader.id}}' checked="{{magheader.checked}}">
    <a [routerLink]="['./Magazine-page', {addr: address}, magheader.id]" class="magheader_but" (click)="navigate(magheader.id)">
        {{magheader.name}}
        <input type="radio" name="PageType" value="{{magheader.id}}" checked="{{magheader.checked}}">
        <div class="magheader_but_bottom"></div>
    </a>
</span>