.ph{
  background-color: @white;
  color: @white;
  width: 680px;
  height: 380px;
}
.header{
  .flexDisplay;
  background-color: rgba(75, 75, 75, 0.2);
  background-image: url('./app/public/drk-linen.png');
  background-repeat: repeat;
  /* Layer contains multiple layer styles that cannot be represented in CSS. Use the color picker or extract the layer as an image. */
  width: 680px;
  height: 260px;

}
.img{
  margin: 40px 0 auto 46px;
}
.hding{
  font-family: @globalFont;
  &-desc{
    .flexDisplay;
    margin: 55px 0 10px 10px;
    &-icon{
      margin: 0 12px 0 0;
      border-radius: 50%;
      background-color: #44b244;
      width: 40px;
      font-size: 22px; /* Approximation due to font substitution */
      font-weight: 400;
      line-height: 22px; /* Approximation due to font substitution */
      text-align: center;
      padding-top: 5px;
    }
    &-title{
      font-size: 24px; /* Approximation due to font substitution */
      font-weight: 300;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 26px;
      margin-top: 5px;
      width:99%;
    }
  }
  &-pag{
    border-left: solid #ffffff 3px;
    font-size: 16px; /* Approximation due to font substitution */
    font-weight: 400;
    line-height: 20px; /* Approximation due to font substitution */
    text-align: left;
    margin-left: 27px;
    padding: 0px 45px 0px 12px;
    height: 113px;
  }
}

.green-text{
  color: @masterBrandColor;
}
