<section *ngIf="data" class="cardv">
    <section class="cardv-plcholder clearfix">
      <circle-button (scrollRight)="right()" (scrollLeft)="left()" [style]="cssStyle" ></circle-button>
        <!--<a [routerLink]="['List-page', {viewType: 'list', state: stateLocation, listname: lists[carCount].listTitleOrig, city: cityLocation, page: 1}]">-->
        <a href="#" class="cardv-image-link">
            <div class="list-img">
                <image-180 [hasSubImg]="true" [counterIf]="hasIndex" [counter]="data.index" [imageURL]="data.image_url1" [imageURL2]="data.image_url1"></image-180>
            </div>
        </a>

        <div class="cardv-text" *ngIf="data.textDetails; #i=index" >
            <div *ngFor="#text of data.textDetails">
                <span [innerHtml]="text"></span>
            </div>
        </div>
        <!--<i class="fa fa-angle-right"></i>-->

      <div class="cardv-plcholder-details">
          <div><span>{{callToAction}}</span></div>
          <a href='{{data.button_url}}' class='mod-page-btn cardv-button'>
              <span></span>
              <span>View Profile</span>
              <i class='fa fa-angle-right'></i>
          </a>
      </div>
    </section>
</section>
