.currentView{
  display:block !important;
}

.lv{
  box-shadow: @modBoxShadow;
  margin-bottom: 20px;
  &-sort{
   position: relative;
   height: 32px;
   background-color: @white;
   &-filter{
     position: absolute;
     right: 19px;
     bottom: 17px;
     .globalDefaultModFont(12px, 900, @black);
     i{
       color: @masterBrandColor;
     }
   }
  }
  &-image{
    .inlineFlexDisplay;
    .flexDirection(row);
    .flexAlignItems(center);
    background-color: @backgroundGrey;
    height: 345px;
    width: 337px;
    margin: 0 1px 2px 1px;
    position: relative;
    &:hover &-overlay{
      display:block;
      border:2px solid @masterBrandColor;
    }
    &-overlay{
      position:absolute;
      width:100%;
      height:100%;
      display:none;
    }
    &-shade{
      position:absolute;
      width:100%;
      height:100%;
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    }
    &-placeHolder{
      width: 100%;
      height: 100%;
      position: absolute;
    }
    &-button{
      position: absolute;
      right: 7px;
      top: 7px;
      width: 140px;
      height: 35px;
      background-color: @strokeGrey;
      border-radius: 5px;
      text-align: center;
      color: @white;
      padding-top: 0.5em;
      &:hover{
        cursor: pointer;
        background-color: @masterBrandColor;
      }
    }
    &-details{
      .globalDefaultModFont(24px, 400, @white);
      position: absolute;
      bottom: 0;
      margin: 0 0 25px 20px;
      width: 320px;
      overflow: hidden;
      text-overflow: ellipsis;
      div:first-child{
      }
      div:nth-child(2){
        font-size: 18px;
      }
      div:last-child{
        font-size: 18px;
      }
    }
  }
}
