<div class="content-wrapper">
    <div class="container">
        <main class='row'>
            <section class='content-main eight columns'>
                <section class="page-container lv">
                    <div class="menu">
                        <span><i class="fa fa-th-list"></i> LIST</span>
                        <span><i class="fa fa-file-photo-o"></i> PHOTO</span>
                        <span><i class="fa fa-compass"></i> MAP</span>
                    </div>

                    <list-vew-carousel></list-vew-carousel>


                </section>

            </section>
            <aside class="four columns">
                <div class="widget"></div>
            </aside>
        </main>
    </div>
</div>
