<div class='tilecontent'>
    <div class='flippy-tile-col'>
        <div class='tile-container'>
            <div class='tile-flipper-one'>
                <div class='tile-front-one'>
                    <i class='{{icon1}}'></i>
                    <p>{{title1}}</p>
                </div>
                <a href='{{url1}}' class='tile-back-one'>
                    <span><i class='{{icon1}}'></i> {{title1}}</span>
                    <span>{{desc1}}</span>
                    <span>{{button_txt}} <i class='fa fa-mail-forward'></i></span>
                </a>
            </div>
        </div>
        <div class='tile-container'>
            <div class='tile-flipper-two'>
                <div class='tile-front-one'>
                    <i class='{{icon2}}'></i>
                    <p>{{title2}}</p>
                </div>
                <a href='{{url2}}' class='tile-back-two'>
                    <span><i class='{{icon2}}'></i> {{title2}} </span>
                    <span>{{desc2}}</span>
                    <span>{{button_txt}} <i class='fa fa-mail-forward'></i></span>
                </a>
            </div>
        </div>
        <div class='tile-container'>
            <div class='tile-flipper-three'>
                <div class='tile-front-one'>
                    <i class='{{icon3}}'></i>
                    <p>{{title3}}</p>
                </div>
                <a href='{{url3}}' class='tile-back-three'>
                    <span><i class='{{icon3}}'></i> {{title3}}</span>
                    <span>{{desc3}}</span>
                    <span>{{button_txt}}<i class='fa fa-mail-forward'></i></span>
                </a>
            </div>
        </div>
    </div>
</div>
