<section class="areadetail">
    <article>
        <!-- tiles for module -->
        <div class='tilecontent'>
            <div class='flippy-tile-col'>
                <div class='tile-container'>
                    <div class='tile-flipper-one'>
                        <div class='tile-front-one'>
                            <i class='{{icon}}'></i>
                            <p>{{title}}</p>
                        </div>
                        <a href='{{url}}' class='tile-back-one'>
                        <span>
                          <i class='{{icon}}'></i> {{title}}
                        </span>
                        <span>{{desc}}</span>
                        <span>
                          {{button_txt}}
                          <i class='fa fa-mail-forward'></i>
                        </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- content goes here -->
    </article>
</section>