.al{
  &-map{
    width: 680px;
    height: 360px;
    background-color: @white;
  }
  &-sortby{
    .globalDefaultModFont(12px, 700, @greyTextGlobal);
    .inlineFlexDisplay;
    .flexDirection(row);
    .flexAlignItems(baseline);

  }
}
