<div class="content-wrapper">
  <div class="wrapper">
    <div class="inner-wrapper">
      <main>
        <section class='content-main eight-col'>
          <section class="page-container">
            <module-header [module_title]="moduleTitle"></module-header>

            <div class="al {{bgClass}}">
              <div class='al-image'>
                <a href=''>
                  <img src='{{imageURL}}' alt='' />
                  <div class="al-image-rank">#{{counter}}</div>
                </a>
              </div>
              <div>
                  <div class='al-loc'>
                    <span><i class='fa fa-map-marker'></i></span><span> {{display_address1}}</span>
                    <span><i class='fa fa-angle-right'></i></span><span> {{display_address2}}</span>
                  </div>

                  <div class='al-name'>{{name}}</div>
                  <div class='al-desc'><b>What people are saying: </b>{{snippet_text}}</div> 
              </div>
            </div>

          </section>
        </section>
        <div class="four-col">
          <widget-module></widget-module>
        </div>
      </main>
    </div>
  </div>
</div>
