.al{
  display: flex;
  padding: 20px;
  width: 680px;
  height: 165px;
  &.odd {
    background: @backgroundGrey
  }
  &.even {
    background: @white;
  }
  &-imagebox{
    width: 150px;
  }
  &-location{
    color: @black;
  }
  &-image{
    width: 150px;
    .largeRoundImageLinkWithHover(125px, 3px, @masterStrokeColor);
    &-rank{
      text-align: center;
      padding-top: 12px;
      color: @black;
      width: 42px;
      height: 42px;
      border: 1px solid @backgroundGrey;
      border-radius: 50%;
      position: relative;
      top: -130px;
      background-color: @white;
    }
  }//image ends
  &-provider{
    bottom: 0;
    margin: 0 225px;
  }
}
.colorReset{
  color: @masterBrandColor;
}
