<div class="content-wrapper">
  <div class="wrapper">
    <div class="inner-wrapper">
      <main>
        <section class='content-main eight-col'>
          <section class="page-container">
            <module-header [module_title]="moduleTitle"></module-header>

            <div *ngFor="#item of amenitiesData; #i=index" class="al {{item.bgClass}}">
              <div class='al-image'>
                <a href=''>
                  <img src='{{item.imageURL}}' alt='' />
                  <div class="al-image-rank">#{{i}}</div>
                </a>
              </div>
              <div>
                  <div class='al-loc'>
                    <span><i class='fa fa-map-marker'></i></span><span> {{item.displayAdress1}}</span>
                    <span><i class='fa fa-angle-right'></i></span><span> {{item.displayAddress2}}</span>
                  </div>

                  <div class='al-name'>{{item.name}}</div>
                  <div class='al-desc'><b>What people are saying: </b>{{item.snippetText}}</div>
              </div>
            </div>

          </section>
        </section>
        <div class="four-col">
          <widget-module></widget-module>
        </div>
      </main>
    </div>
  </div>
</div>
