<div class="mhk">
  <div class="mhk_banner">
    <div class="mhk_banner_top">TAKE A LOOK AT OUR PARTNER WEBSITES</div>
    <div class="mhk_banner_bottom">We provide accurate and up to date information on the real estate market</div>
  </div>
  <div class="mhk_container">
    <div class="mhk_title">ACTIVE PARTNER WEBSITES</div>
    <div *ngFor="#partnerData of partners" class="mhk_partners">
        <h2>{{partnerData.name}}</h2>
          <a href="/"><div class="mhk_partner" *ngFor="#Data of partnerData.websites">
            <div class="mhk_partner_text">{{Data.name}}</div>
            <i class="fa fa-chevron-right"></i>
          </div></a>
    </div>
  </div>
</div>
