<section class="carousel">
    <div class="carl">
        <carbutton-component></carbutton-component>
        <div class="carImg">
            <div class='small-img-BR-both-linked-box'>
                <a href=''>
                    <img src='{{image_url}}' alt='Big image example from snt verticals' />
                    <div>
                        <p>View</p>
                        <p>Profile</p>
                    </div>
                </a>
                <a href=''>
                    <img src='{{image_url}}' alt='Small image example from snt verticals' />
                    <div><i class='fa fa-share'></i></div>
                </a>
            </div>
        </div>
        <div class="info">
            <div class="text1">
                <div class="logo">
                </div>
                <!--<span>{{text1}}</span>-->
            </div>
            <div class="text2">
                <!--<span>{{text2}}</span>-->
            </div>
        </div>

    </div>
    <div class="wtk">
        <!--<listbutton-component></listbutton-component>-->
        <a href='' class='wtk-btn'>
            <span></span>
            <span>See The List</span>
            <i class='fa fa-angle-right'></i>
        </a>
    </div>
</section>