@import (reference) "./app/global/stylesheets/components.less";
@import (reference) "./app/global/stylesheets/base.less";

.home-tagline {
  .globalDefaultModFont(32, 600, @black);
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  background-color: #fff !important;
}

  .thin {
    .globalDefaultModFont(32, 400, @black);
  }