<div class="mag_nav">
    <div class="mag_nav_cont">
        <div style="width: 0.57vw; height: 100%; float: left"></div>
        <span class="currentIndexFooter">1</span> of {{pageCount}}
        <!--<a class="fa fa-angle-right" id="next" href="" style="font-size: 1vw; margin-top: 1px;"></a>-->
    </div>
</div>


<!--<div class="mag_nav_cont">-->
<!--{{#unless equals pageNum 1}}-->
<!--{{#unless equals pageNum 0}}-->
<!--<a class="fa fa-angle-left" id="prev" href="{{prevURL}}"></a>-->
<!--{{else}}-->
<!--<div style="width: 0.57vw; height: 100%; float: left"></div>-->
<!--{{/unless}}-->
<!--{{else}}-->
<!--<div style="width: 0.57vw; height: 100%; float: left"></div>-->
<!--{{/unless}}-->
<!--{{pageNum}} of {{maxPage}}&lt;!&ndash;7&ndash;&gt;-->
<!--{{#unless equals pageNum maxPage}}-->
<!--<a class="fa fa-angle-right" id="next" href="{{nextURL}}"></a>-->
<!--{{else}}-->
<!--<div style="width: 0.57vw; height: 100%; float: right"></div>-->
<!--{{/unless}}-->
<!--</div>-->