.cu{
  width: 680px;
  height: auto;
  border: none;
}
.form {
  padding-left:25px;
  border-top: 1px solid @strokeGrey;
}
.rfs {
  margin: 10px 0 15px 0;
  .globalDefaultModFont(12px, 900, @black);
  &-red {
    color: @standardRed;
  }
}
//Contact us fields
.fields{
  &-text{
    .inlineFlexDisplay;
    .flexDirection(row);
    .flexAlignItems(center);
    .globalDefaultModFont(14px, 900, @black);
    width:25%;
    height:35px;
    text-align: left;
    margin-bottom: 25px;
    float:left;
  }
  &-field{
    .globalDefaultModFont(14px, 700, @black);
    text-align: left;
    float:left;
    margin-bottom: 25px;
    width: 462px;
    height:35px;
  }
}

//My questions
.cu_q{
  height: 260px;
  .cu_questions{
    &-text{
      .inlineFlexDisplay;
      .flexDirection(row);
      .flexAlignItems(center);
      .globalDefaultModFont(14px, 900, @black);
      width:150px;
      height:35px;
      text-align: left;
      float:left;
    }
  }
}

.cu_checklist{
  .globalDefaultModFont(14px, 400, @black);
  height:100%;
  width: 462px;
  float:left;
  padding-left: 11px;
  text-align: left;
  td{
    line-height: 24px;
  }
}

.cu_desc{
  .globalDefaultModFont(14px, 400, @black);
  width: 462px;
  height: 166px;
  margin-left: 164px;
  font-style: italic;
}

.btn_reset{
  .globalDefaultModFont(14px, 400, @textEmphasisGrey);
  float: right;
  margin-top: 28px;
  text-align: right;
  background-color: @white;
  border: none;
  &:hover{
    color: @masterBrandColor;
  }
}
.btn_submit{
  .globalDefaultModFont(14px, 400, @white);
  float: right;
  margin: 20px 25px 0 50px;
  width: 121px;
  padding-left: 33px;
}
