.search{
  &-results{
    margin: 0px;
    min-height: 25px;
    width: 100%;
    position: absolute;
    top: 125%;
    left: 0px;
    list-style-type: none;
    padding-top: 9px;
    height: auto;
    background-color: @white;
    border: 1px solid @masterBrandColor;
    border-radius: 5px;
    z-index: 5;
    font-size: 18px;
    text-align: left;
    font-family: @globalFont;

    &-close{
      position: absolute;
      top: 3px;
      right: 16px;
      cursor: pointer;
    }

    .caret-top{
      content: '';
      position: absolute;
      top: -10px;
      left: 50%;
      border-bottom: 10px solid @masterBrandColor;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;

      &::after{
        content: '';
        position: absolute;
        top: 2px;
        right: -6px;
        border-bottom: 8px solid @white;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }
    }

    a{
      width: 100%;
      padding: 12px 5px 15px 15px;
      border-bottom: 1px solid @strokeGrey;
      display: block;
      .flexDisplay;
      .flexJustify(space-between);
      .flexAlignItems(center);
      color: @black;
      i{
        font-size: 30px;
        color: @white;
        padding-right: 14px;

      }
      &:last-child{
        border-bottom: none;
      }

      &:hover{
        color: @white;
        background-color: @masterBrandColor;
      }
    }

    &.active{
      display: block;
    }

    &-no-results{
      padding: 0px 15px;
      height: 25px;
      line-height: 25px;
      width: 100%;
    }
  }
}
