.search{
  &-results{
    min-height: 25px;
    width: 100%;
    position: absolute;
    top: 125%;
    left: 0px;
    list-style-type: none;
    padding: 0px 16px;
    height: auto;
    background-color: @white;
    border: 1px solid @joyfulHomeGreen;
    border-radius: 5px;
    z-index: 5;
    font-size: 16px;
    text-align: left;

    &-close{
      position: absolute;
      top: 3px;
      right: 16px;
      cursor: pointer;
    }

    .caret-top{
      content: '';
      position: absolute;
      top: -10px;
      left: 50%;
      border-bottom: 10px solid #44b224;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;

      &::after{
        content: '';
        position: absolute;
        top: 2px;
        right: -6px;
        border-bottom: 8px solid @white;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }
    }

    a{
      width: 100%;
      padding: 4px 0px;
      border-bottom: 1px solid @strokeGrey;
      display: block;
      color: @black;
      font-family: @globalFont;

      &:last-child{
        border-bottom: none;
      }

      &:hover{
        color: @joyfulHomeGreen;
      }
    }

    &.active{
      display: block;
    }
  }
}