<div class="content-wrapper">
    <div class="wrapper">
        <div class="inner-wrapper">
            <main class='row'>
                <section class='content-main eight-col'>
                    <div class="page-container error">
                      <div *ngIf="errorMessage" [innerHTML]="errorMessage"></div>
                    </div>
                    <hero-list-component></hero-list-component>
                </section>
                <div class="four-col">
                    <widget-module></widget-module>
                </div>
            </main>
        </div>
    </div>
</div>
