.page-title {
  @defaultPageHdrHeight: 130px;
  width: 680px;
  height: auto;
  line-height: @defaultPageHdrHeight;
  padding: 5px;
  background: @white;
  .flexDisplay;
  .titleImage {
    .largeRoundImageLinkWithHover(100px, 2px, @greyBorder);
    height: 100px;
    width: 100px;
    margin: 15px;
  }
  .titleText {
    width: 80%;
    margin: 12px;
    height:auto;
    .smallTxt1 {
      .globalDefaultModFont(10px, 400, @greyUpdate);
      margin-bottom: 12px;
    }
    .smallTxt2 {
      .globalDefaultModFont(12px, 400, @black);
      height: 14px;
      margin-bottom: 5px;
      i{
        margin-right: 4px;
        color: @joyfulHomeGreen;
      }
    }
    .mainTitle {
      .globalDefaultModFont(28px, 700, @black);
      line-height: 28px;
    }
    .subTitle {
      .globalDefaultModFont(28px, 400, @black);
      line-height: 28px;
    }
  }
}

.title-original-link{
  position: absolute;
  top: 20px;
  right: 20px;
  color: @masterBrandColor !important;
  font-size: 12px;
}

.data-by-text {
  font-family: Lato;
  font-size: 10px;
  font-weight: normal;
  font-style: italic;
  color: @fontIconGrey;
  line-height: 0;
  display: inline-block;
  b {
    font-weight: 900;
  }
}