@ButtonLocation: 0px;
.prev{
  margin-top: @ButtonLocation;
  float: left;
  height: 80px;
  width: 40px;
  border-radius: 0 80px 80px 0;
  -moz-border-radius: 80px 80px 0 0;
  -webkit-border-radius: 0 80px 80px 0;
  background-color: #000;
  align-items: flex-start;
  &:hover{
    background-color: @masterBrandColor;
  }
}
.next{
  margin-top: @ButtonLocation;
  float: right;
  height: 80px;
  width: 40px;
  border-radius: 80px 0 0 80px;
  -moz-border-radius: 80px 80px 0 0;
  -webkit-border-radius: 80px 0 0 80px;
  background: #000;
  align-item: flex-end;
  &:hover{
    background-color: @masterBrandColor;
  }
}
.next:hover{}
.fa-angle-right{
  font-size: 36px;
  color: #fff;
  margin: 20px 0 0 17px;
}
.fa-angle-left{
  font-size: 36px;
  color: #fff;
  margin: 20px 0 0 10px;
}