<div class="magheader_soc">
    <a style="color: inherit;" href="https://www.facebook.com/dialog/feed?app_id=954236734623286&amp;display=page&amp;description={{description}}&amp;picture={{image}}&amp;link={{url}}&amp;redirect_uri={{url}}">
        <i class="fa fa-facebook"></i><span>Share It</span>
    </a>
    <div class="magheader_soc_fb">
        <div class="magheader_soc_fb_cr"></div>
        <div class="magheader_soc_fb_l1"><i class="fa fa-facebook"></i>Share on Facebook</div>
        <div class="magheader_soc_fb_l2">Share this digital story on Facebook with your Realtor, Friends, and Family.</div>
        <div class="magheader_soc_fb_b1">close</div>
        <div class="magheader_soc_fb_b2">Ok, got it.</div>
    </div>
</div>