<div class="overview-page">
    <magazine-header-module [toc]="toc" [address]="address"></magazine-header-module>
    <div *ngIf="!magazineData" class="page-loading">
        <img src="/app/public/page_loading.gif"/>
    </div>
    <magazine-error-module *ngIf="showErrorPage"></magazine-error-module>
    <span *ngIf="magazineData">
        <router-outlet></router-outlet>
        <mag-nav-left-component [toc]="toc"></mag-nav-left-component>
        <mag-nav-right-component [toc]="toc"></mag-nav-right-component>
        <mag-footer-component [toc]="toc"></mag-footer-component>
    </span>
</div>