<!-- Header template -->
<template name="bracket_layout">
  {{> header_nav}}

  <div class="bracket_body">
    <div class="bracket_body-left"></div>
    <div class="bracket_body-center">{{> yield}}</div>
    <aside class="bracket_body-faq"><!--{{> ad_zone}}--></aside>
  </div>

  {{> footer}}
</template>
<!-- END Header template -->

<!-- Header template -->
<template name="bracket_layout_loading">
  {{> header_nav}}

  <div class="bracket_body">
    <div class="bracket_body-left"></div>
    <div class="bracket_body-center">{{> yield}}</div>
    <aside class="bracket_body-faq"><!--{{> ad_zone}}--></aside>
  </div>

  {{> footer}}
</template>

<template name="bracket_layout_home">
  {{> header_nav}}

  {{> yield}}
  {{> footer}}
</template>
