<div class="feature row">
    <section class="feature-tiles">
        <a href="#">
            <div class="feature-tile-1 eight columns">
                <p class="feature-tile-title">Interactive Local Map</p>
                <div class="view-box">
                    <p class="view-text">View This Page</p>
                </div>
            </div>
        </a>
        <div class="feature-tile-2 two columns">
            <p class="feature-tile-title-long"><span class="title-bold">Dive Deep Into</span><br /> Wichita</p>
        </div>
    </section>
    <section class="feature-tiles">
        <a href="#">
            <div class="feature-tile-3 two columns">
                <p class="feature-tile-title">Cities Nearby</p>
                <div class="view-box">
                    <p class="view-text">View This Page</p>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="feature-tile-4 eight columns">
                <p class="feature-tile-title">Top 10 Lists</p>
                <div class="view-box">
                    <p class="view-text">View This Page</p>
                </div>
            </div>
        </a>
    </section>
</div>