<div class="feature row">
    <section class="feature-tiles">
        <div class="feature-tile-1 eight columns"><p class="feature-tile-title">Interactive Local Map</p></div>
        <div class="feature-tile-2 two columns"><p class="feature-tile-title-long"><span class="title-bold">Dive Deep Into</span><br /> Wichita</p></div>
    </section>
    <section class="feature-tiles">
        <div class="feature-tile-3 two columns"><p class="feature-tile-title">Cities Nearby</p></div>
        <div class="feature-tile-4 eight columns"><p class="feature-tile-title">Haysville, KS</p></div>
    </section>
</div>