<div class="content-wrapper">
    <div class="wrapper">
        <div class="inner-wrapper">
            <loading-component *ngIf="(!totalListingsLoaded  || !listingItems) && !isError" ></loading-component>

            <error-component *ngIf="isError"></error-component>

            <div *ngIf="totalListingsLoaded && listingItems && !isError" class="directory-container">

                <!-- Title and Path Name -->
                <header class="directory-header">
                    <div class="directory-header-location">
                        <i class="fa fa-map-marker"></i>
                        <a [routerLink]="['Directory-page', {listTitle: paramListTitle, pageNumber: 1}]">United States</a>
                        <i *ngIf="pageType === 'state' || pageType === 'city' || pageType === 'allCities' || pageType === 'zipcode'" class="fa fa-angle-right"></i>
                        <a [routerLink]="['Directory-page-state', {listTitle: paramListTitle, pageNumber: 1, state: paramState}]" *ngIf="pageType === 'state' || pageType === 'city' || pageType === 'allCities' || pageType === 'zipcode'">{{fullState}}</a>
                        <i *ngIf="pageType === 'city' || pageType === 'zipcode'" class="fa fa-angle-right"></i>
                        <a [routerLink]="['Directory-page-city', {listTitle: paramListTitle, pageNumber: 1, state: paramState, city: paramCity}]"*ngIf="pageType === 'city' || pageType === 'zipcode'">{{paramCityDisplay}}</a>
                        <i *ngIf="pageType === 'zipcode'" class="fa fa-angle-right"></i>
                        <span *ngIf="pageType === 'zipcode'">{{paramZipcode}}</span>
                    </div>
                    <div class="directory-header-title">
                        {{displayListTitle}} For Sale
                    </div>
                </header>

                <!-- Navigation Links to Sub Directories -->
                <div *ngIf="linkListDisplayed" class="directory-nav">
                    <div class="directory-nav-title">
                        {{linkTitle}}
                    </div>
                    <div class="directory-nav-links">
                        <span *ngFor="#item of navigationLinks; #isLast = last">
                          <a [routerLink]="[item.page, item.params]" >
                              {{item.title}}
                          </a>
                          <span class="directory-nav-separator" *ngIf="!isLast">|</span>
                        </span>
                        <span *ngIf="moreCitiesAvailable">                            
                          <span class="directory-nav-separator">|</span>
                          <a [routerLink]="['Directory-page-state', {listTitle: paramListTitle, pageNumber: 1, state: paramState , 'allCities': true}]" class="directory-nav-links-more">
                              More Cities
                          </a>
                        </span>
                    </div>
                </div>
                
                <div *ngIf="showMetroAreaSection" class="directory-nav">
                    <div class="directory-nav-title">
                      Browse <b>{{paramCityDisplay}}, {{fullState}}</b> Listings
                    </div>
                </div>

                <!-- Pagination Buttons (Hidden if totalListingsDisplayed is 0)-->
                <div *ngIf="totalListingsDisplayed" class="directory-pagination">
                    Showing: <b>{{rangeDisplay}}</b> of <b>{{totalListingsDisplayed}}</b> {{totalListingsDescription}}
                    <a [routerLink]="[pageName, nextParams]" class="directory-pagination-button" [ngClass]="{active: nextHighlighted}">
                        Next <i class="fa fa-angle-right"></i>
                    </a>
                    <a [routerLink]="[pageName, backParams]" class="directory-pagination-button" [ngClass]="{active: backHighlighted}">
                        <i class="fa fa-angle-left"></i> Back
                    </a>
                </div>

                <!-- Directory List Data -->
                <ul *ngIf="totalListings > 0" class="directory-list">
                    <li *ngFor="#item of listingItems" class="directory-list-item">
                        <span *ngIf="item.lastUpdated" class="line-one">
                            {{item.lastUpdated}}
                        </span>
                        <span class="line-two">
                            <a *ngIf="item.address" [routerLink]="['Profile-page', {address: item.addressKey}]">
                                {{item.address}}
                            </a>
                            <span *ngIf="item.address">
                                |
                            </span>
                            <a *ngIf="item.city" [routerLink]="['Directory-page-city', {state: item.stateLink, city: item.cityLink, listTitle: paramListTitle, pageNumber: 1}]">
                                {{item.city}},
                            </a>
                            <a *ngIf="item.state" [routerLink]="['Directory-page-state', {state: item.stateLink, listTitle: paramListTitle, pageNumber: 1}]">
                                {{item.state}}
                            </a>
                            <a *ngIf="item.zipcode" [routerLink]="['Directory-page-zipcode', {state: item.stateLink, city: item.cityLink, zipcode: item.zipcode, listTitle: paramListTitle, pageNumber: 1}]">
                                , {{item.zipcode}}
                            </a>
                        </span>
                        <span class="line-three">
                            <span *ngIf="item.squareFeet">
                                {{item.squareFeet}}
                            </span>
                            <i *ngIf="(item.bedrooms && item.squareFeet)" class="fa fa-angle-right"></i>
                            <span *ngIf="item.bedrooms">
                                {{item.bedrooms}}
                            </span>
                            <i *ngIf="(item.bathrooms && item.squareFeet) || (item.bathrooms && item.bedrooms)" class="fa fa-angle-right"></i>
                            <span *ngIf="item.bathrooms">
                                {{item.bathrooms}}
                            </span>
                        </span>
                    </li>
                </ul>
                
                <div *ngIf="totalListings == 0" class="directory-pagination">
                  There are no {{listingNamePlural | lowercase}} in this category.
                </div>

                <!-- Pagination Buttons (Hidden if totalListingsDisplayed is 0)-->
                <div *ngIf="totalListingsDisplayed" class="directory-pagination">
                    Showing: {{rangeDisplay}} of {{totalListingsDisplayed}}
                    <a [routerLink]="[pageName, nextParams]" class="directory-pagination-button" [ngClass]="{active: nextHighlighted}">
                        Next <i class="fa fa-angle-right"></i>
                    </a>
                    <a [routerLink]="[pageName, backParams]" class="directory-pagination-button" [ngClass]="{active: backHighlighted}">
                        <i class="fa fa-angle-left"></i> Back
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>