@import (reference) "./app/global/stylesheets/base.less";
@import (reference) "./app/global/stylesheets/components.less";

.property-type{
    width:100%;
    padding:12px 11px;
    border-bottom: 1px solid @backgroundGrey;
}
.type-title{
  //.globalDefaultModFont(@fontSize, @fontWeight, @color)
  .globalDefaultModFont(18px, 400, @black);
  margin-bottom:10px;
}
.filters{
  .flexDisplay;
  .flexDirection(row);
  flex-wrap:wrap;
  .flexJustify(space-between);
  &_frame{
    font-family:@globalFont;
    font-size: 14px;
    width:150px;
    height:40px;
    border-radius: 5px;
    padding:5px;
    border: 1px solid @masterStrokeColor;
    background-color: @greyBorder;
    img{
      margin-right:5px;
      margin-left: 5px;
      margin-top: 5px;
    }
    span{
      position:absolute;
      margin-top: 8px;
    }
    input{
      float:right;

      &[type=checkbox]{
        padding-left:5px;
        padding-right:5px;
        border-radius:5px;
        -webkit-appearance:checkbox;
        border: solid 2px @masterStrokeColor;
        background-color:@white;
        color:@white;
        outline:none;
        width:20px;
        height:20px;
      }
      &[type=checkbox]:checked {
        background-color:@white;
        color:@white;
      }
    }
    &:hover{
      border: 1px solid @black;
    }
  }
}


