<div class="property-type">
  <div class="type-title">
    <span>Pick a Property Type</span>
  </div>
    <div class="filters">
        <div class="filters_frame">
            <img src="http://images.myhousekit.com/icons/Icon_House.png">
            <span>House</span>
            <input type="checkbox" name="HomeType" value="SingleFamily">
        </div>
        <div class="filters_frame">
            <img src="http://images.myhousekit.com/icons/Icon_Condo.png">
            <span>Condo</span>
            <input type="checkbox" name="HomeType" value="Condo">
        </div>
        <div class="filters_frame">
            <img src="http://images.myhousekit.com/icons/Icon_Apartment.png">
            <span>Apartment</span>
            <input type="checkbox" name="HomeType" value="Apartment">
        </div>
        <div class="filters_frame">
            <img src="http://images.myhousekit.com/icons/Icon_Townhome.png">
            <span>Townhome</span>
            <input type="checkbox" name="HomeType" value="Townhome">
        </div>
    </div>
</div>
