@import (reference) "./app/global/stylesheets/components.less";
@import (reference) "./app/global/stylesheets/base.less";
.doc-main{
  width:100%;
  height:auto;

  h1 {
    text-align:center;
    width:100%;
    background-color:@masterBrandColor;
    height:70px;
  }
  nav {
    display:flex;
    flex-direction:row;
    justify-content: space-around;

  }

  .content{
    .flex-display(@display: flex) {
      display: ~"-webkit-@{display}";
      display: ~"-moz-@{display}";
      display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
      display: ~"-ms-@{display}"; // IE11
      display: @display;
    }
    .flex-justify(@justifyStyle) {

      .ms-flex-justify(@justifyStyle);
      -webkit-justify-content: @justifyStyle;
      justify-content: @justifyStyle;
    }
  }

  a {
    text-align:center;
    line-height:40px;
    width:100px;
    height:40px;
    color:white;
    background-color:black;
    cursor:pointer;
  }
  aside {
    float:right
  }
  footer {
    position:absolute;
    bottom:0;
    left: 50%;
  }
}