<header-component></header-component>
<nav class="twelve columns">
    <a [routerLink]="['Home-page']">Home Page</a>
    <a [routerLink]="['Profile-page']">Profile Page</a>
    <a [routerLink]="['Location-page', {loc: cityStateLocation}]">Location Page</a>
    <a [routerLink]="['List-page']">List Page</a>
    <a [routerLink]="['Component-page']">Component Page</a>
    <a [routerLink]="['Aboutus-page']">About Us Page</a>
    <a [routerLink]="['Contactus-page']">Contact Us Page</a>
    <a [routerLink]="['Disclaimer-page']">Disclaimer Page</a>
    <a [routerLink]="['Magazine','Page']">Magazine Page</a>
</nav>
<div class="page-wrapper">
    <router-outlet></router-outlet>
</div>
<footer-component></footer-component>
