<div style="width:100%; height:auto;"><iframe id="partner_header" src="http://altustimes.com/section/mainheader/" style="display: block; width:100%; height:50px; border:0; overflow:hidden;" frameborder="0" scrolling="no" allowtransparency="true"></iframe></div>
<nav class="twelve columns" style="margin:0;">
  <a [routerLink]="['Default-home','Webpages']">Web Page</a>
  <a [routerLink]="['Default-home','Magazine']">Magazine Page</a>
  <a [routerLink]="['Partner-home',{partner_id:'latimes-com'},'Webpages']">Partner Web Page</a>
  <a [routerLink]="['Partner-home',{partner_id:'latimes-com'},'Magazine']">Partner Magazine Page</a>
</nav>
<div class="page-wrapper">
  <router-outlet></router-outlet>
</div>
