<div class="mag_container">
    <div class="mag_half mag_text">
        <div class="banner" style="margin-top: 1vw">Learn About Schools</div>
        <span *ngFor="#p of magSchools?.content; #i=index">
            <span [innerHTML]="p"></span><br><br>
        </span>
    </div>
    <div class="mag_container_left">
        <img class="mag_half mag_ki_container_img"
             src="app/public/mag_stock_img/schools_banks_grocery/{{schoolImage}}"
             onerror="this.src='app/public/mag_stock_img/schools_banks_grocery/High_School_2_stock_mag.jpg';"/>
    </div>
</div>
<div class="mag_container">
    <div class="mag_container_left">
        <img class="mag_half mag_ki_container_img"
             src="app/public/mag_stock_img/schools_banks_grocery/{{demographicImage}}"
             onerror="this.src='app/public/mag_stock_img/schools_banks_grocery/Demographic-10-20-b.jpg';"/>
    </div>
    <div class="mag_half mag_text scrollRight">
        <div class="banner" style="margin-top: 1vw">Local Demographics</div>
        <span *ngFor="#p of magDemographics?.content; #i=index">
            <span [innerHTML]="p"></span><br><br>
            <adzone-component *ngIf="i === 0" style="float: right;" (window:resize)="onResize($event)"></adzone-component>
        </span>
        <learnmore-component></learnmore-component>
    </div>
</div>