.hl {
  .flexDisplay;
  background-color: #ffffff;
  width: 680px;
  height: 60px;

  &-rec {
    background-color: @masterStrokeColor;
    width: 5px;
    height: 60px;
  }
  &-about{
    margin: 18px 0 0 30px;
    color: #666666;
    font-size: 24px; /* Approximation due to font substitution */
    font-weight: 300;
    text-align: left;
  }
}