<div class="mag_container mag_container_left">
    <div class="mag_container_left">
        <div class="mag_half mag_ki_container_img"
             style="background-image: url('app/public/mag_stock_img/food_types/{{magAmenities?.stockPhotos}}_stock_mag.jpg')">
        </div>
    </div>
    <div class="mag_half mag_text">
        <div class="mag_ki_banner" style="margin-top: 1vw">Great Local Amenities</div>
        <span *ngFor="#p of magAmenities?.content; #i=index">
            <span *ngIf="i <= 1">
                <span [innerHTML]="p"></span><br><br></span>
            </span>
    </div>
</div>
<div class="mag_container">
    <div class="mag_half mag_text">
        <span *ngFor="#p of magAmenities?.content; #i=index">
            <span *ngIf="i > 1">
                <span [innerHTML]="p"></span><br><br>
                <adzone-component *ngIf="i === 2" style="float: right;"></adzone-component>
                <learnmore-component *ngIf="!$last"></learnmore-component>
            </span>
        </span>
    </div>
    <div class="mag_container_left">
        <div class="mag_half mag_ki_container_img"
             style="background-image: url('app/public/mag_stock_img/food_types/{{magAmenities?.stockPhotos}}_alt_stock_mag.jpg')">
        </div>
    </div>
</div>