<div class="mag_container mag_text mag_r1_text">
    <span *ngFor="#magListings of listingData;">
        <span *ngIf="recommendations">
            <span *ngFor="#magText1 of magListings.listing1;">
                <div class="mag_ki_banner" style="margin-top: 1vw">Explore Similar Properties</div>
                <div class="mag_po_address mag_po_address_sm"><i class="fa fa-map-marker"></i>{{magText1.itemAddress}}
                </div>
                {{magText1.magtext1}}<br><br>
                {{magText1.magtext2}}<br><br>
                <adzone-component style="float: right;"></adzone-component>
                {{magText1.magtext3}}<br><br>
                {{magText1.magtext4}}<br><br>
                {{magText1.magtext5}} <a href="http://www.joyfulhome.com/listing/1324-N-MANCHESTER-CT-Wichita-KS">the
                listing profile</a>
                {{magText1.magtext6}}<br><br>
                <span *ngFor="#magText2 of magListings.listing2;">
                    <div class="mag_po_address mag_po_address_sm"><i class="fa fa-map-marker"></i>{{magText2.itemAddress}}
                    </div>
                    {{magText2.magtext1}}<br><br>
                    {{magText2.magtext2}}<br><br>
                    {{magText2.magtext3}}<br><br>
                    {{magText2.magtext4}}<br><br>
                    {{magText2.magtext5}} <a href="http://www.joyfulhome.com/listing/1324-N-MANCHESTER-CT-Wichita-KS">the
                    listing profile</a>
                    {{magText2.magtext6}}<br><br>
                </span>
            </span>
        </span>
        <span *ngIf="!recommendations">
            <span *ngFor="#magText1 of magListings.contactListing;">
                <div class="mag_ki_banner" style="margin-top: 1vw">Contact The Agent</div>
                <div class="mag_po_address mag_po_address_sm"><i class="fa fa-map-marker"></i>{{magText1.itemAddress}}
                </div>
                {{magText1.magtext1}}<br><br>
                {{magText1.magtext2}}<br><br>
            </span>
        </span>
        <learnmore-component></learnmore-component>
    </span>
</div>