<div class="content-wrapper">
    <div class="wrapper">
        <div class="inner-wrapper">
            <main>
                <section class='content-main eight-col'>
                    <backtab-component></backtab-component>
                    <title-component *ngIf="titleData" [titleData]="titleData"></title-component>
                    <!--<list-carousel-component *ngIf="lists" [lists]="lists"></list-carousel-component>-->
                    <span *ngIf="data" *ngFor="#item of lists">
                        <contentlist [data]="item" [cityLocation]="cityLocation" [stateLocation]="stateLocation"></contentlist>
                    </span>
                    <hero-list-component></hero-list-component>
                </section>
                <div class="four-col">
                    <widget-module></widget-module>
                </div>
            </main>
        </div>
    </div>
</div>