<div class="content-wrapper">
    <div class="wrapper">
        <div class="inner-wrapper">
            <main>
                <section class='lol-main eight-col'>
                    <backtab-component></backtab-component>
                    <title-component></title-component>
                    <list-carousel-component></list-carousel-component>
                    <span *ngFor="#item of lists">
                        <contentlist [data]="item"></contentlist>
                    </span>
                    <hero-list-component></hero-list-component>
                </section>
                <div class="four-col">
                    <widget-module></widget-module>
                </div>
            </main>
        </div>
    </div>
</div>