.detailed-list{
  background: @backgroundGrey;
  width:100%;
  height:155px;
  border-bottom: 1px solid @listgreyborder;
  //border-right: 1px solid @listgreyborder;
  //border-left: 1px solid @listgreyborder;
  padding:15px 20px;
  .flexDirection(row);
  display: flex;
  background: @backgroundGrey;
  &.odd {
    background: @white;
  }
  &.even {
    background: @backgroundGrey;
  }
}

//style for large image box
.detailed-imagebox {
  margin-right:25px;
  .largeRoundImageLinkWithHover(125px, 2px, @masterStrokeColor);
  .detailed-rank {
    text-align: center;
    padding: 0px 5px;
    color: #000;
    min-width: 42px;
    width: auto;
    height: 42px;
    line-height: 42px;
    border: 1px solid @backgroundGrey;
    border-radius: 42px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: @white;
  }
}

//styles all the content inside the list start from text to small images
.dynamic-list{
  .detailed-content-box{
    display: flex;
    height:125px;
    width:76.5%;
    .flexDirection(column);
    .flexJustify(space-around);
    span:first-child{
      font-size: 12px;
      & > i{
        color:@masterBrandColor;
        padding-right:5px;
      }
      &:hover{
        color:@masterBrandColor;
      }
    }

    .detailed-content-row-wrapper {
      display: flex;
      .flexDirection(row);
      .flexJustify(space-between);
    }

    .detailed-location {
      .globalDefaultModFont(10px, 600, @black) !important;
      i{
        color: @masterBrandColor;
      }
    }

    .detailed-title {
      .globalDefaultModFont(20px, 900, @black) !important;
      margin: 0;
      line-height: 26px;
      overflow: hidden;
      text-overflow: ellipsis;
      & > i{
        color:@masterBrandColor;
        padding-right:5px;
      }
    }

    .detailed-list_sub {
      .globalDefaultModFont(14px, 400, @black) !important;
      margin: 0;
      line-height: 25px;
      i{
        color: @masterBrandColor;
      }
    }

    .detailed-content-row2 {
      text-align: right;
    }

      .detailed-market {
        .globalDefaultModFont(12px, 400, @black) !important;
        margin: 0;
      }

      .detailed-value {
        .globalDefaultModFont(20px, 900, @black) !important;
        margin: 0;
        line-height: 26px;
      }

    .detailed-tag {
      .globalDefaultModFont(14px, 400, @black) !important;
      margin: 0;
      line-height: 25px;
    }

    .detailed-content-bottom{
      .globalDefaultModFont(12px, 400, @white) !important;
      .flexDirection(column);
      border: 1px solid @borderGrey;
      border-radius: 5px;
      padding: 3px;
      p {
        .globalDefaultModFont(14px, 400, @black) !important;
        margin-top: 8px;
        margin-left: 5px;
      }
      &.odd {
        background: @white;
      }
      &.even {
        background: @backgroundGrey;
      }
    }
    .detailed-content-subbox {
      float:left;
    }
    .detailed-list-button{
      .mod-page-btn;
      position: relative;
      float:right;
      padding-right: 5px;
      .detailed-icon {
        margin-top: 2px;
        margin-left: 3px;
      }
      >span:first-child{
        background-color: transparent;
      }
      >span:nth-child(2){
        .globalDefaultModFont(14px, 400, @white);
      }
    }
  }
}
