.sm_images{
  background-color: @backgroundGrey;
  height: 80px;
  width: 680px;
  border-bottom: 1px solid @strokeGrey;
  img{
    margin: 5px 0 5px 5px;
    border: 1px solid @strokeGrey;
    box-sizing: border-box;
    width: 130px;
    height: 70px;
    &:active{
      border: 2px slid @masterBrandColor;
    }
  }
}
.features{
  height: 222px;
  width: 680px;
  &-info{
    .globalDefaultModFont(14px, 400, @black);

  }
}
.heading{
  border-bottom: 1px solid @strokeGrey;
  height: 43px;
  width: 100%;
  position: relative;
  span:first-child{
    .globalDefaultModFont(18px, 300, @black);
    padding: 12px;
    position: absolute;
    left: 10px;
  }
  span:last-child{
    .globalDefaultModFont(10px, 700, @greyUpdate);
    padding: 15px;
    position: absolute;
    right: 10px;
  }
}

ul{
  list-style-type: disc;
}
