<section class="module-container media">
    <module-header [module_title]="moduleTitle"></module-header>
    <media-images *ngIf="propertyData" [mediaImages] = "propertyData.images"></media-images>

    <section class="features">
        <div class="heading">
            <span>{{featureHeading}}</span>
            <span>{{lastUpdate}}</span>
        </div>
        <div class="features-info">
            <ul>
                <li *ngFor = "#item of propertyData.features"> {{item.featureName}}: {{item.value}}</li>
            </ul>
        </div>
    </section>
</section>
